.wrapper {
  display: flex;

  .left {
    width: 60vw;
  }

  .right {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    .left, .right {
      width: 95vw;
    }
  }
}