.modalOut {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  transform: translateY(-100vh);
  z-index: -10;
  opacity: 0;
  transition: transform .3s ease-out, z-index 0s linear, all .3s ease-out;

  .modal {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    width: 80vw;
    height: 80vh;
    background: whitesmoke;
    cursor: auto;
  }
}

.animation {
  z-index: 10;
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 768px) {
  .modalOut {
    .modal {
      padding: 1.5rem 1rem;
    }
  }
}